/* ESTILOS GLOBAIS
-------------------------------------------------- */
/* Padding abaixo do footer e texto mais suave no <body> */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    background: #F6F9FF;
}

/* CUSTOMIZA O CAROUSEL
  -------------------------------------------------- */

/* Classe base do carousel */
.carousel {
    margin-bottom: 4rem;
    position: relative
}

/*Será feito alguns ajustes na legenda, pois tem posicionamento de imagens*/
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/*  altura, devido ao posicionamento do elemento img */
.carousel-item {
    height: 32rem;
    background-color: #777;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

/*Indica em qual etapa está o carousel*/
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none
}

.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    opacity: .5;
    transition: opacity .6s ease
}

.carousel-indicators .active {
    opacity: 1
    /*Opacidade do indicador de etapa*/
}


/*Fonte*/
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #ffffff;
    /*Color da fonte*/
}


/*Próximo e voltar carousel*/
.carousel-item-next,
.carousel-item-prev {
    position: absolute;
    top: 0
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}


/* CONTEÚDO DA PÁGINA DE MARKETING
  -------------------------------------------------- */

/* Alinha, centralmente, o texto dentro das três colunas abaixo do carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* CLASSE PLUS
  ------------------------- */

.plus-divider {
    margin: 5rem 0;
    /* Espaça o elemento <hr> mais */
}

/* Afina os cabeçalhos de marketing */
.plus-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}



/* CSS RESPONSIVE CAROUSEL
  -------------------------------------------------- */

@media (min-width: 40em) {

    /* Aumenta o tamanho do conteúdo do carousel */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .plus-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .plus-heading {
        margin-top: 7rem;
    }
}