@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');



/** VARIÃVEIS - COLORS **/
:root {
    /* LIGHT */
    --color-light-50: #F6F9FF;

    /* DARK */
    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;

    /* BLUE */
    --color-blue-50: #89d6e9;
    --color-blue-100: #2679a8;
    --color-blue-200: #2c43aa;

    /* GRADIENT */
    --color-gradient: linear-gradient(90deg, var(--color-blue-50), var(--color-blue-100), var(--color-blue-200));
}

/* GERAL */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#left-login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left-login h1 {
    font-size: 2.5vw;
    color: var(--color-blue-50);
}

.left-image-login {
    width: 35vw;

}

#container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-dark-100);
    background: var(--color-light-50);
}

#login_form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 25rem;
    padding: 30px 40px;
    border-radius: 8px;
    gap: 5rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    animation: dark-to-light-background 0.3s ease-in-out;
}

/* FORM HEADER */
#form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form_header h1 {
    margin-right: 2rem;
    font-size: 40px;
    position: relative;
}

#form_header h1::before {
    position: absolute;
    content: '';
    width: 40%;
    height: 3px;
    background-color: var(--color-blue-50);
    bottom: 10px;
    border-radius: 5px;
}

#mode_icon {
    cursor: pointer;
    font-size: 20px;
}

/* INPUTS */
#inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.input-box>label {
    font-size: 14px;
    color: var(--color-dark-50);
}

.input-field {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    border-bottom: 1px solid var(--color-blue-50);
    cursor: text;
}

.input-field i {
    font-size: 18px;
    cursor: text;
    color: var(--color-dark-200);
}

.input-field input {
    border: none;
    width: 100%;
    background-color: transparent;
    font-size: 18px;
    padding: 0px 5px;
}

.input-field input:focus {
    outline: none;
}


/* LOGIN BUTTON */
#login_button {
    border: none;
    background: var(--color-gradient);
    padding: 7px;
    border-radius: 3px;
    color: var(--color-light-50);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

#login_button:hover {
    transform: scale(1.05);
}

/* DARK MODE */
.dark#login_form,
.dark#container {
    color: var(--color-light-50);
    background-color: var(--color-dark-100);
    animation: light-to-dark-background 0.3s ease-in-out;
}

.dark#login_form .input-field input,
.dark#login_form .input-field i {
    color: var(--color-light-50);
}

.dark input{
    color: white;
}


@keyframes dark-to-light-background {
    0% {
        background-color: var(--color-dark-100);
    }

    100.0% {
        background-color: var(--color-light-50);
    }
}

@keyframes light-to-dark-background {
    0% {
        background-color: var(--color-light-50);
    }

    100.0% {
        background-color: var(--color-dark-100);
    }
}

/*RESPONSIVO*/
@media only screen and (max-width:950px) {
    #container {
        width: 99%;
    }

    .left-image-login {
        width: 99%;
    }
}

@media only screen and (max-width:280px) {
    #container {

        height: 200vw;

    }

    #form_header {
        width: 50%;
        height: 80%;
    }

    .left-login>h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .left-image-login {
        width: 60vh;


    }
}

@media only screen and (max-width:640px) {
    #container {
        width: 99%;
        height: 90%;
    }

    #login_form {

        height: 200%;

    }

    .left-login>h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .left-image-login {
        width: 60vh;


    }
}

@media only screen and (max-width:600px) {

    #container {
        flex-direction: column;
        width: 99%;
        height: 90%;
    }

    .left-login>h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .left-image-login {
        width: 50vh;


    }
}
