body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-width: 350px;
    color: #5a5a5a;
    background: #F6F9FF;
}

h5,
p {
    font-size: 17px;
    line-height: 26px;

}

.redes {
    width: 40px;
    padding: 3px;
    cursor: pointer;
}



/*responsivo
@media (max-width:991px) {
    .hb-whychooseus-content {
        margin: 0;
        margin-top: 30px;
    }
}

@media (max-width:1199px) {
    .hb-whychooseus-content {
        margin: 0 0 0 25px;

    }
}

@media (max-width:991px) {
    .container-sb img {
        margin: 0;
        margin-top: 30px;
    }
}

@media (max-width:1199px) {
    .container-sb img {
        margin: 0 0 0 25px;

    }
} */

@media only screen and (max-width:950px) {
    .container-qs {
        width: 100%;
        height: 50%;
    }

    .container-qs h5 {
        font-size: 20px;
    }
}


@media only screen and (max-width:640px) {
    .container {
        width: 50%;
    }


}

@media only screen and (max-width:600px) {

    .container {

        width: 50%;

    }


}

@media only screen and (max-width:280px) {
    .container {
        width: 10%;

    }
}